body {
  margin: 0;
    font-family: "Satoshi", sans-serif !important;
  background-color: black !important;

}

code {
    font-family: "Satoshi", sans-serif !important;
  background-color: black !important;

}
